 
 
 <h1>You are using a wrong path</h1>
    <img class="crazyimage" src="https://images.unsplash.com/photo-1551073179-0be3ab1dbf1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="crazy" />