<h1>File upload test</h1>

<form action="/uploadform" method="POST" enctype="multipart/form-data">
<div class="col-md-6 ">
      <label for="inputEmail4" class="form-label">Upload a Picture</label>
      <input type="file" class="form-control" id="inputEmail4" name="profile_pic" />
    </div>
     <div class="col-sm-12 mt-2 mb-4">
      <button style="width: 190px;" type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>
<div class="ml-5 w-25 h-25">
{{#if picturePath}}
<h4>Uploaded picture</h4>
<img src=/fileUpload/image/{{picturePath}} class="w-100 h-100">
{{/if}}
</div>
