<h1 style="color:rgb(83, 80, 80)">
  Welcome To Our Shop!
</h1>

<h3 class="loginAdvice">Please <a href="/login"> Log in!</a> ,You are newbie? <span class="arrow">&#8594;</span> <a href="/register">Register!</a></h3>