<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<<<<<<< HEAD

   {{!-- navbar --}}
    <nav  class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Team Project</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addremove">Add/Remove</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log-In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
    </div>
=======
<nav>
  <div class="homeProduct">
      <a class="home" href="/">Home</a>
      <a class="mt-2" href="/product">Product</a>
  </div>
  <div class="loginRegister">
    <a href="/login">Log-in</a>
    <a href="/register">Sign Up</a>
>>>>>>> f5bf8eb9fe71ca42948f8d5b79ea43525807c4da
  </div>
</nav>

    <main>
      {{{body}}}
    </main>
   
    <footer>test footer</footer>
</body>
</html>