<h2>
Enter your credentials to see add your product
</h2>

<form action='/login' method='post'>
  <label>
   Email <input type='email' name='email' />
  </label>
  <br><br>
  <label>
   Username <input type='text' name='name' />
  </label>
  <br><br>
  <label>
    Password <input type='password' name='password' />
  </label>
  <br><br>
  <button type="submit">Log In</button>
</form>