<form class='loginImportant' action='/login' method='post'>
  Important Information!

  We have changed the login process! Account names have been abolished. To log in, you only need your password and the
  account's email address.

  You have forgotten your email address but you still know the account name which had been used for your Tibia account?
  Get your email address here:
  <a href='www.google.com'>
    Link
  </a>
</form>

{{#if character.successResult}}
  <div class='alert alert-warning' role='alert'>
    {{character.result}}
  </div>
{{/if}}


  <form class='signup' action='/login' method='POST'>
    <h1>
      Log In
    </h1>
    <p>
      Please to enter your credential to access the product catalogue
    </p>
    <hr />

    <label for='E-mail'>
      <b>
        E-Mail
      </b>
    </label>
    <input class='Email' type='text' name='e-mail' required />

    <label for='psswrd'>
      <b>
        Password
      </b>
    </label>
    <input class="Password"
      type='password'
      name='psswrd'
      required
    />
    <button class='buttons' type='submit'>
      Submit
    </button>

    <a href='/register' class='buttons-submit' type='submit'>
      Not Register yet!
    </a>
    <p>
      By cliking the Submit Button you agree to
      <a href='#'>
        Terms & Conditions
      </a>
      and
      <a href='#'>
        Privacy Policy
      </a>
    </p>
  </form>
