<form action="/update" method="POST" class="form">
    <label>Title</label>
    <input type="text" class="form-control" name="title">
    <label>Price</label>
    <input type="text" class="form-control" name="Price">
    <label>Discount</label>
    <input type="date" class="form-control" name="Discount">
    <br>
    <button type="submit" class="btn btn-success">
     
    </button>
</form>